#cartTransparentContainer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    background: rgba(128, 128, 128, 0.459);
}

#cartContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 500px;
    min-height: 100vh;
    border: solid 1px black;
    background-color: #a1887f;
}

#shoppingCartInnerScrollableContainer {
    background-color: #bdbdbd ;
    overflow-y: auto;
    flex-grow: 2;
    height: 0;
}

.cartItem {
    display: flex;
    border-bottom: solid 1px #5d4037;
    justify-content: space-around;
    padding-bottom: 10px;
}

.cartItem img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

.cartItem .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItem .middle {
    flex: 2;
    padding-left: 20px;
}

.cartItem .middle p:nth-child(3) {
    margin-bottom: 0;
}

.cartItem .middle p:nth-child(4) {
    margin-top: 0;
}

.cartItem .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}